{% load static %}
<script src="{% static 'main/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'main/js/aos.js' %}"></script>
<script src="{% static 'main/js/glightbox.min.js' %}"></script>
<script src="{% static 'main/js/purecounter_vanilla.js' %}"></script>
<script src="{% static 'main/js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'main/js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'main/js/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'main/js/main.js' %}"></script>